%h1.text-3xl.font-bold.mt-8.mb-4 Access Denied
%p.text-lg.text-gray-600.mb-4
  You are not authorized to access this page.
= link_to 'Back', root_path, class: 'inline-block hover:bg-gray-500 text-black font-bold py-2 px-4 rounded'

