%div.text-center.mx-4.space-y-2
  %h1.text-green-600.text-5xl.font-bold Koci Zakamarek
  %b Hodowla kotow rosyjskich niebieskich
  %div.mx-24.bg-green-200
    %p.p-4.non-italic.text-justify
      Jestesmy mloda domowowa hodowla kotow rosyjskich.
      Koty rosyjskie niebieskie należą do smukłych i długonogich, dostojnych zwierząt i uznawane są za jedną
      z najpiękniejszych ras kocich. Nasza hodowla prowadzona jest z pasją i wielkim zaangażowaniem. 
        
