%div.text-center.mx-4.space-y-2
  %h1.text-green-600.text-5xl.font-bold= t('views.welcome.title')
  %b= t('views.welcome.description')
  %div.mx-24.bg-green-200
    %p.p-4.non-italic.text-justify
      = t('views.welcome.content').html_safe
        
