%nav.bg-gray-800
  .mx-auto.max-w-7xl.px-2.sm:px-6.lg:px-8
    .relative.flex.h-16.items-center.justify-between
      .absolute.inset-y-0.left-0.flex.items-center.sm:hidden
        / Mobile menu button
        %button.relative.inline-flex.items-center.justify-center.rounded-md.p-2.text-gray-400.hover:bg-gray-700.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-inset.focus:ring-white{"aria-controls" => "mobile-menu", "aria-expanded" => "false", type: "button"}
          %span.absolute{class: "-inset-0.5"}
          %span.sr-only Open main menu
          /
            Icon when menu is closed.
            
            Menu open: "hidden", Menu closed: "block"
          %svg.block.h-6.w-6{"aria-hidden" => "true", fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24"}
            %path{d: "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
          /
            Icon when menu is open.
            
            Menu open: "block", Menu closed: "hidden"
          %svg.hidden.h-6.w-6{"aria-hidden" => "true", fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24"}
            %path{d: "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      .flex.flex-1.items-center.justify-center.sm:items-stretch.sm:justify-start
        .flex.flex-shrink-0.items-center
          %img.h-12.w-auto{alt: "Your Company", src: asset_path('logo.png') }/
        .hidden.sm:ml-6.sm:block
          .flex.space-x-4
            / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
            %a.bg-gray-900.text-white.rounded-md.px-3.py-2.text-sm.font-medium{"aria-current" => "page", href: "#"} Strona glowna
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.rounded-md.px-3.py-2.text-sm.font-medium{href: pages_path(page: 'AboutRace') } O rasie
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.rounded-md.px-3.py-2.text-sm.font-medium{href: posts_path} Blog
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.rounded-md.px-3.py-2.text-sm.font-medium{href: parents_path} Rodzice
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.rounded-md.px-3.py-2.text-sm.font-medium{href: kittens_path} Kociaki
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.rounded-md.px-3.py-2.text-sm.font-medium{href: new_contact_form_path} Kontakt
      .absolute.inset-y-0.right-0.flex.items-center.pr-2.sm:static.sm:inset-auto.sm:ml-6.sm:pr-0
        %button.relative.rounded-full.bg-gray-800.p-1.text-gray-400.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-white.focus:ring-offset-2.focus:ring-offset-gray-800{type: "button", onclick: "window.location.href='http://www.example.com'"}
          %span.absolute{class: "-inset-1.5"}
          %span.sr-only View notifications
          %img{"aria-hidden" => "true", src: asset_path('instagram3.png'), alt: "Instagram Icon1", class: "w-6 h-6"}
        %button.relative.rounded-full.bg-gray-800.p-1.text-gray-400.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-white.focus:ring-offset-2.focus:ring-offset-gray-800{type: "button", onclick: "window.location.href='http://www.example.com'"}
          %span.absolute{class: "-inset-1.5"}
          %span.sr-only View notifications
          %img{"aria-hidden" => "true", src: asset_path('facebook.png'), alt: "Facebook Icon1", class: "w-6 h-6"}
        / Profile dropdown

        -# %button.relative.rounded-full.bg-gray-800.p-1.text-gray-400.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-white.focus:ring-offset-2.focus:ring-offset-gray-800{type: "button"}
        -#   %span.absolute{class: "-inset-1.5"}
        -#   %span.sr-only View notifications
        -#
        -# .relative.ml-3
        -#   %div
        -#     %button#user-menu-button.relative.flex.rounded-full.bg-gray-800.text-sm.focus:outline-none.focus:ring-2.focus:ring-white.focus:ring-offset-2.focus:ring-offset-gray-800{"aria-expanded" => "false", "aria-haspopup" => "true", type: "button"}
        -#       %span.absolute{class: "-inset-1.5"}
        -#       %span.sr-only Open user menu
        -#       %img.h-8.w-8.rounded-full{alt: "", src: ""}/
          /
            Dropdown menu, show/hide based on menu state.
            
            Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
          -# .absolute.right-0.z-10.mt-2.w-48.origin-top-right.rounded-md.bg-white.py-1.shadow-lg.ring-1.ring-black.ring-opacity-5.focus:outline-none{"aria-labelledby" => "user-menu-button", "aria-orientation" => "vertical", role: "menu", tabindex: "-1"}
          -#   / Active: "bg-gray-100", Not Active: ""
          -#   %a#user-menu-item-0.block.px-4.py-2.text-sm.text-gray-700{href: "#", role: "menuitem", tabindex: "-1"} Your Profile
          -#   %a#user-menu-item-1.block.px-4.py-2.text-sm.text-gray-700{href: "#", role: "menuitem", tabindex: "-1"} Settings
          -#   %a#user-menu-item-2.block.px-4.py-2.text-sm.text-gray-700{href: "#", role: "menuitem", tabindex: "-1"} Sign out
  / Mobile menu, show/hide based on menu state.
  #mobile-menu.sm:hidden
    .space-y-1.px-2.pb-3.pt-2
      / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
      %a.bg-gray-900.text-white.block.rounded-md.px-3.py-2.text-base.font-medium{"aria-current" => "page", href: "#"} Dashboard
      %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.rounded-md.px-3.py-2.text-base.font-medium{href: "#"} Team
      %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.rounded-md.px-3.py-2.text-base.font-medium{href: "#"} Projects
      %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.rounded-md.px-3.py-2.text-base.font-medium{href: "#"} Calendar
