%h1 Lista Kotów

%table.table-auto.w-full.border-collapse
  %thead.bg-gray-200
    %tr
      %th.px-4.py-2.border ID
      %th.px-4.py-2.border Imię
      %th.px-4.py-2.border Rasa
      %th.px-4.py-2.border Kolor
      %th.px-4.py-2.border Data urodzenia
      %th.px-4.py-2.border Płeć
      %th.px-4.py-2.border Cena
      %th.px-4.py-2.border.text-center{class: "w-2/12"} Status
      %th.px-4.py-2.border Lokalizacja
      %th.px-4.py-2.border Notatki
      %th.px-4.py-2.border.text-center{class: "w-2/12"} Akcje

  %tbody
    - @cats.each do |cat|
      = turbo_stream_from "cats_stream"
      #cats
        = render Admin::Cats::CatRowComponent.new(cat: cat)

= link_to 'New Cat', new_admin_cat_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
