%h1 Lista Kotów

%table
  %thead
    %tr
      %th ID
      %th Imię
      %th Rasa
      %th Kolor
      %th Data urodzenia
      %th Płeć
      %th Cena
      %th{class: 'w-2/12 p-2 text-center'} Status
      %th Lokalizacja
      %th Notatki
      %th.text-center Akcje

  %tbody
    - @cats.each do |cat|
      = turbo_stream_from "cats_stream"
      #cats
        = render Admin::Cats::CatRowComponent.new(cat: cat)

= link_to 'New Cat', new_admin_cat_path
